  <div class="row">
    <h1>Hard  and Soft Skill</h1>  
      <div class="text-center col sm-4 col md-4 col lg-4 col xl-4 col xxl-4">
        <circle-progress
          [percent]="15"
          [radius]="100"
          [subtitle]="'Porcentaje'"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#FF8033'"
          [innerStrokeColor]="'#FF8033'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
        <h3>css <img src="../../../assets/CSS.png"id="foto"></h3> 
        

      </div>
      <div class="text-center col sm-4 col md-4 col lg-4 xl-4 col xxl-4">
        <circle-progress
          [percent]="30"
          [radius]="100"
          [subtitle]="'Porcentaje'"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#FF8033'"
          [innerStrokeColor]="'#FF8033'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
        <h3>HTML<img src="../../../assets/html.png"id="foto"></h3> 

      </div>
      <div class="text-center col sm-4 col md-4 col lg-4 xl-4 col xxl-4">
        <circle-progress
          [percent]="20"
          [radius]="100"
          [subtitle]="'Porcentaje'"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#FF8033'"
          [innerStrokeColor]="'#FF8033'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
        <h3>JavaScript<img src="../../../assets/js.png"id="foto"></h3> 

      </div>
  </div>
  <div class="row">
      <div class="text-center col sm-4 col md-4 col lg-4 xl-4 col xxl-4">
        <circle-progress
          [percent]="100"
          [radius]="100"
          [subtitle]="'Porcentaje'"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#FF8033'"
          [innerStrokeColor]="'#FF8033'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
        <h3>Grupal<img src="../../../assets/grupal.png"id="foto"></h3> 

      </div>
      <div class="text-center col sm-4 col md-4 col lg-4 xl-4 col xxl-4" >
        <circle-progress
          [percent]="30"
          [radius]="100"
          [subtitle]="'Porcentaje'"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#FF8033'"
          [innerStrokeColor]="'#FF8033'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
        <h3>GitHub<img src="../../../assets/git.png"id="foto"></h3> 

      </div>
      <div class="text-center col sm-4 col md-4 col lg-4 xl-4 col xxl-4">
        <circle-progress
          [percent]="27"
          [radius]="100"
          [subtitle]="'Porcentaje'"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#FF8033'"
          [innerStrokeColor]="'#FF8033'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
        <h3>Git<img src="../../../assets/github.png"id="foto"></h3> 

      </div>
  </div>

